In [1]:
import pandas as pd

In [5]:
df_ng = pd.read_csv('data/NG Sensors.csv', delimiter=';')
df_pv = pd.read_csv('data/PV Sensors.csv', delimiter=';')

In [6]:
df_ng.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  361 non-null    object
 1   br1        361 non-null    float64
 2   ec         361 non-null    float64
 3   hum        361 non-null    float64
 4   ph         361 non-null    float64
 5   tp         361 non-null    float64
dtypes: float64(5), object(1)
memory usage: 17.1+ KB

In [7]:
df_ng.head()

             Timestamp           br1        ec        hum        ph         tp
0  2025-01-25 11:00:00  16230.648667  0.523810  43.343354  8.310000  21.874396
1  2025-01-25 13:00:00  16144.080563  0.523810  42.778063  8.310000  22.288000
2  2025-01-25 15:00:00  16224.752042  0.523810  43.505875  8.310000  22.583271
3  2025-01-25 17:00:00  16076.304046  0.355795  43.437862  5.644528  22.446143
4  2025-01-25 19:00:00  16056.443165  0.000000  40.700000  0.000000  22.425759